{% extends 'base.html'%}
{% load static from staticfiles %}

{% block content %}



  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/My Post.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">

          <h1 class="intro-title mb-4">Welcome to TechiesTalks </h1>
          <p class="intro-subtitle"><span class="text-slider-items">Login For Latest News on Technology,Login For Latest News on Upcoming Languages</span><strong class="text-slider"></strong></p>

        </div>

      </div>
    </div>
  </div>
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About Us
                    </h5>
                  </div>
                  <p class="lead">
                  TechiesTalks is an indigenous platform which strives to provide knowledge about the latest technologies reforms occuring day by day worldwide. We provide a bunch of exploration about the latest technological assets, researches and higher development applications. We are catering to improve the skills of techy readers and to update them about the various technologies.
In India, there are a huge number of institutions which are waking up the communities for higher studies and research. A lot of professionals are striving to pool their advanced minds but many of them can't find a right stage to exhibit their sharp skills.
So, here at TechiesTalks, we provide you the right platform to polish up your mind about the technologies and to stay updated with the latest news of the techno-world. Backed by a team of experienced professionals, it will be our assiduous effort to convert you into a veteran from a newbie.
                  </p>
                </div>
              </div>
		<div class="col-md-6">
                <div class="row">
                </div>
                <div class="skill-mf">
		 <div class="title-box-2">
                  <h5 class="title-left">Categories</h5>
		</div>    
              <span>Trending Technology</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Latest Tech News</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Trending Programming Languages</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Competitive Exam Subjects</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="testimonials paralax-mf bg-image" style="background-image: url(img/overlay-bg.jpg)" id="team">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
          

<!--  <div class="testimonial-box">
              <div class="author-test">
                <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/46516553_1944443005605447_2756842144688766976_n.jpg?_nc_cat=100&_nc_ht=scontent.fdel19-1.fna&oh=42eb698e799dd3ddc7883fbb93f40cba&oe=5D60262A" alt="" class="rounded-circle b-shadow-a" style="height: 150px; width:150px; ">
                <span class="author">Ravindra</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Content Writer
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
	-->
             <div class="testimonial-box">
              <div class="author-test">
                <img src="/static/surbhi.jpeg" alt="" class="rounded-circle b-shadow-a" style="height: 150px; width:150px; ">
                <span class="author">Surbhi Suman</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Frontend & Backend Developer
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
 
   <div class="testimonial-box">
              <div class="author-test">
                <img src="https://scontent-del1-1.xx.fbcdn.net/v/t1.0-9/60259543_2005690132874437_6019377350876069888_n.jpg?_nc_cat=108&_nc_oc=AQmGGsvgycNPJMTQYXVG4hT9mb0KviaiDSzVl3r7P4kd_-LUUG5CBCLTg7OeE7MZ16s&_nc_ht=scontent-del1-1.xx&oh=eaab0fe29e84b142cd5a5ae115cccfc5&oe=5E51FCC1" alt="" class="rounded-circle b-shadow-a" style="height: 150px; width:150px; ">
                <span class="author">Nitish Gulia</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Frontend & Backend Developer
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            <p class="subtitle-a">
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for article in articles %}

        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="{% url 'articles:details' article.slug %}"><img src="{{article.thumb.url}}" alt="" class="img-fluid" style="height:200px; width:400px;"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">{{article.category}}</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="{% url 'articles:details' article.slug %}">{{article.title}}</a></h3>
              <p class="card-description">
                 {{article.body |truncatechars:50 |safe }}
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <i class="fa fa-user"></i>
                  <span class="author">{{article.author}}</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> {{article.date}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
        <center><a href="{% url 'articles:list' %}"> <button type="submit" class="button button-a button-big button-rouded">View More</button></a></center>

    </div>
  </section>





<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Us Message
                    </h5>
                  </div>
                  <div>
                      <form action="" method="post" role="form" class="contactForm">

                      <div class="row">


                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                             <form method="POST">

                              {% csrf_token %}
                              {{form.as_p}}

                          </div>
                        </div>

                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </form>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span>New Delhi, India</li>
                      <li><span class="ion-ios-telephone"></span> +918285401666</li>
                      <li><span class="ion-email"></span>techiestalksofficials@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.facebook.com/techiestalksofficial"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/techiestalksofficial/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://twitter.com/_techiestalks"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                    </ul>          
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
